@import "tailwindcss";

@theme {
  --color-primary: #1D4ED8;
  --color-secondary: #3B82F6;
  --color-accent: #10B981;
  --color-danger: #EF4444;
  --color-muted: #6B7280;
  --color-background: #F9FAFB;

}

body {
  background-color: var(--color-background);
  color: #111827;
}
